* {
  box-sizing: border-box;
}
html,
body {
  height: 100vw;
}
.border-radius {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
:root {
  --write: #ffe5ce;
}
.container {
  background-color: #fe0000;
  width: 75vw;
  height: 55vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  border: 0.4em solid black;
  position: relative;
}
/*Ears*/
.container-ears {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 3rem;
}
.container-earsLeft,
.container-earsRight {
  background-color: black;
  width: 25vw;
  height: 15vh;
}
/*Head*/
.container-head__face {
  background-color: black;
  width: 65%;
  height: 28vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2.5rem;
}
/*Eyes*/
.container-head__eyes {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.head__face-left,
.head__face-right {
  background-color: var(--write);
  width: 35%;
  height: 15vh;
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  border-radius: 60%;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
}
.head__face-eyeLeft {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
}
.head__face-eyeRight {
  margin-left: 0.1rem;
  display: flex;
  flex-direction: column-reverse;
}
.head__face-eyeLeft,
.head__face-eyeRight {
  background-color: #fdf9f6;
  width: 50%;
  height: 10vh;
  border: 0.2rem solid black;
}
.eyeLeft-eye,
.eyeRight-eye {
  background-color: black;
  width: 60%;
  height: 6vh;
}
/*Cheek*/
.head-cheek {
  background-color: var(--write);
  width: 80%;
  height: 11.5vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.5rem;
  position: relative;
}
.cheek-nose {
  background-color: black;
  width: 20%;
  height: 3vh;
  margin-left: auto;
  margin-right: auto;
}

.cheek-mouth {
  background-color: var(--write);
  width: 80%;
  height: 7vh;
  border-bottom: 0.2rem solid black;
  margin-left: auto;
  margin-right: auto;
}
/*Media Screen Tablet*/
@media screen and (min-width: 768px) {
  html,
  body {
    height: 100%;
  }
  .container {
    width: 35vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
  }
  .container-ears {
    margin-top: 4rem;
  }
  .container-earsLeft,
  .container-earsRight {
    background-color: black;
    width: 30%;
    height: 15vh;
  }
}
/*Media Screen */
@media screen and (min-width: 1024px) {
  html,
  body {
    height: 100vh;
  }
  .container {
    width: 20vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
  }
  .container-ears {
    margin-top: 3rem;
  }
  .container-earsLeft,
  .container-earsRight {
    background-color: black;
    width: 30%;
    height: 15vh;
  }
}
